################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.opendb
*.db
*.ilk
*.iobj
*.ipdb
*.ipdb
/wallet/x64
/x64/Debug/leveldb
/x64/Debug/log
/x64/Release/log
